<div id='user_menu_content'>
  <% if @current_user %>
    <span><%= @current_user.login.capitalize %></span>
  <% else %>
    <%= render 'shared/login_form' %>
    <%= link_to 'Регистрация', registration_path, id: 'start_registration' %>
  <% end %>
</div>