@import "variables";

#registration_form_wrapper form{
  border: 2px solid #ccc;
  padding: $basic-padding-vertical $basic-padding-horisontal;
  margin-bottom: $basic-margin-vertical;

  input{
    height: 30px;
    width: 300px;
    padding: 3px 5px;
    border: 2px solid #ccc;
    font-size: 110%;

    &:focus{outline: none;}
  }

  input[type=submit]{
    box-sizing: content-box;
  }

  table{
    border-collapse: collapse;
    margin: auto;

    caption{
      h2{line-height:100%;}
    }

    tbody {
      border: $basic-padding-vertical solid transparent;
    }

    .errors_tr td{
      height: 25px;
      vertical-align: top;
      color: $error-color;
    }

    td{
      padding: 3px 5px;
    }

    td:nth-child(2n){
      padding-left: $basic-padding-horisontal;
    }

    .field_hints{
      color: gray;
      font-size: 13px;
      max-width: 200px;
    }
  }
}

.field_with_errors input{ border: 2px solid $error-color !important; }
