// ICONS

$small-icon-size: 30px;
$medium-icon-size: 55px;

// FONTS
$font-family: verdana;
$main-font-color: #444;

// COLORS

$light-gray: rgb(249, 249, 249);
$darker-gray: rgb(200, 200, 200);
$purple: #9ecaed;

$link_color: darken($purple, 20%);

$error-color: #F57070;

$textarea-background-color: $light-gray;

$notice-font-color: #044B00;
$notice-bg-color: rgba(210, 225, 210, 0.5);

$box-shadow-focus: 0px 0px 6px 0px $purple inset;
$box-shadow-nofocus: 0px 0px 6px 0px $darker-gray inset;

// BASIC MARGINS AND PADDINGS
$basic-margin-vertical: 15px;
$basic-margin-horisontal: $basic-margin-vertical;
$basic-padding-vertical: $basic-margin-vertical;
$basic-padding-horisontal: $basic-margin-horisontal;

// BORDERS
$border-radius: 6px;

// ELEMENTS

$input-width: 550px;
$input-padding-horizontal: 6px;
$input-real-width: $input-width + ($input-padding-horizontal * 2);
$input-margin-right: 0;

$controls-width: $small-icon-size*2;

$main-width: $input-real-width + $input-margin-right + $controls-width;

$aside-width: 200px;

$wrapper-width: $main-width + $aside-width;